:root {
  font-family: 'Cute Font', cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
  color: black;
  font-size: 56px;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 3px solid black;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 15px;
  width: 100%;
}
button:hover {
  background-color: pink;
  color: black;
  box-shadow: 5px 10px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;

  }
}
  
p{
  color: black;
  font-size: 16px;
}

.card{
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 100%;
  height: 500px;
  box-shadow: 5px 10px;
  padding: 15px;
  border-radius: 10%;
}

.card p{
  color: black;
  font-size: 24px;

}
.card img{
  position: relative;
  width: 100%;
  height: 300px;
}
.header{
  display: flex;
  flex-direction: row;

}

.header p{
  align-self: flex-end;
  font-size: 32px;
  align-content: space-between;
  background-color: white;
  border-radius: 10%;
 
}

.footer{
  display: flex;
  padding: 4px;

}
.footer button{
  margin-left: 4px;
}

